.report {
    padding: 1rem 5.5rem;
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    height: auto;
}

.report-top {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.report-top-left h2 {
    margin: 0;
    color: #139b48;
    font-weight: normal;
}

.report-top-right {
    display: flex;
    gap: .5rem;
    align-items: flex-end;
}

.report-details {
    width: 100%;
    // background-color: red;
    color: #545454;
    min-height: 35rem;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.input-head {
    font-size: small;
    padding-left: 2px;
}


.input {
    display: flex;
    flex-direction: column;
    gap: .4rem;
    color: gray;
    position: relative;
    width: 15rem;
    font-size: 14px;

}

#datehead {
    position: absolute;
    top: 15%;
}

input {
    width: 13rem;
    background-color: inherit;
    border: 0;
    border-bottom: 2px solid gray;
    appearance: none;
    box-sizing: unset;
    color: white;
    font-size: medium;
    font-size: 14px;

}

input:focus {
    outline: none;
    border-bottom: 2px solid green;
    caret-color: green;
}

::placeholder {
    color: white;
}

::placeholder {
    color: white;
}

.input-area {
    position: relative;
}

.search-icon {
    position: absolute;
    right: 5px;
    color: white;
    z-index: 0;
}

.download-image {
    height: 2rem;
    width: 2rem;
}

#datehead{
    position: absolute;
    font-size: 13px;
}

::ng-deep {
    .mat-mdc-form-field .mat-mdc-floating-label.mdc-floating-label{
    font-size: 18px;
    }
    .mat-mdc-select{
        font-size: 13.58px;
    }
    .mdc-text-field--no-label:not(.mdc-text-field--outlined):not(.mdc-text-field--textarea) .mat-mdc-form-field-infix{
        padding: 30px 0 0 0;
    }
    .mat-mdc-text-field-wrapper:not(.mdc-text-field--outlined) .mat-mdc-form-field-infix{
        padding-bottom: 0;
    }
    .mat-mdc-form-field {
        border-bottom: 2px solid;
    }

    .mdc-text-field--no-label:not(.mdc-text-field--outlined):not(.mdc-text-field--textarea) .mat-mdc-form-field-infix {
        padding: 24px 0 0 0;
    }

    .mat-mdc-icon-button.mat-mdc-button-base {
        color: white;
    }

    .mat-mdc-form-field-flex {
        align-items: center !important;
    }

    .mat-mdc-form-field-subscript-wrapper {
        display: none;
    }

    .mat-calendar {
        border: 1px solid white;
        background-color: black;
    }

    .mdc-text-field:not(.mdc-text-field--disabled) .mdc-floating-label {
        color: white;
    }

    .mdc-text-field--filled:not(.mdc-text-field--disabled) {
        background-color: transparent;
    }

    .mat-datepicker-content {
        background-color: rgb(129, 129, 129);
        color: white !important;
    }

    .mat-calendar-body-selected {
        background-color: #139B48;
    }

    .mat-calendar-body-cell:not(.mat-calendar-body-disabled):hover>.mat-calendar-body-cell-content:not(.mat-calendar-body-selected):not(.mat-calendar-body-comparison-identical):hover {
        color: rgb(250, 250, 250);
        background-color: #424242;
    }

    .mat-calendar-body-cell-content,
    .mat-date-range-input-separator {
        color: rgb(255, 255, 255);
    }

    .mat-calendar-table-header,
    .mat-calendar-body-label {
        color: #139B48;
    }

    .mat-mdc-button:not(:disabled) {
        color: white !important;
    }

    /* width */
::-webkit-scrollbar {
    width: 3px;
}
  
/* Track */
::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px grey; 
}
   
/* Handle */
::-webkit-scrollbar-thumb {
    background: #9b9b9b; 
}
  
/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #7e7e7e; 
}

    .mat-calendar-arrow {
        fill: white;
    }

    .mat-calendar-next-button,
    .mat-datepicker-content .mat-calendar-previous-button {
        color: #139B48;
    }

    .mat-datepicker-content .mat-calendar-next-button {
        color: #139B48;
    }

    .mat-date-range-input-inner {
        color: white !important;
    }

    .mat-datepicker-content .mat-calendar {
        width: 20rem !important;
        height: 24rem !important;
        position: relative;
        font-size: xx-small;
    }

    .mdc-text-field{
        padding: 0 !important;
    }

    .mat-mdc-raised-button:not(:disabled) {
        background-color: black !important;
    }
    .mat-mdc-form-field{
        border: 0;
    }
    .mdc-text-field--filled:not(.mdc-text-field--disabled) .mdc-line-ripple::before{
        border-bottom-color:gray ;
    }
    .mdc-text-field--filled:not(.mdc-text-field--disabled):hover .mdc-line-ripple::before{
        border-bottom-color:gray ;
    }
    .mdc-text-field--filled:not(.mdc-text-field--disabled) .mdc-line-ripple::after{
        border-bottom-color:#139B48 ;
    }
        .mdb-date-picker .md-form label.active {
            background:#139B48;
        }
        .mat-primary .mat-mdc-option.mdc-list-item--selected:not(.mdc-list-item--disabled) .mdc-list-item__primary-text {
            color: #008800;
        }
    
        .mat-mdc-option .mat-pseudo-checkbox-minimal {
            display: none;
        }
    
        .mat-mdc-select-value-text {
            color: white;
        }
    
        .mdc-menu-surface {
            background: #424242;
        }
    
        .mdc-list-item__primary-text {
            color: white;
        }
    
        .mat-mdc-select-arrow svg {
            color: gray;
        }
    
        .mat-mdc-form-field {
            border: 0;
        }
    
        .mat-mdc-icon-button {
            -webkit-tap-highlight-color: transparent;
        }
    
    
        .mat-calendar-body-disabled > .mat-calendar-body-cell-content:not(.mat-calendar-body-selected):not(.mat-calendar-body-comparison-identical) {
            color: #494949;
        }
    
        .mdc-text-field--filled:not(.mdc-text-field--disabled) .mdc-line-ripple::before {
            border-bottom-color: gray;
        }
    
        .mdc-text-field--filled:not(.mdc-text-field--disabled):hover .mdc-line-ripple::before {
            border-bottom-color: gray;
        }
    
        .mdc-text-field--filled:not(.mdc-text-field--disabled) .mdc-line-ripple::after {
            border-bottom-color: #139B48;
        }
    
        .mat-mdc-tab-group {
            width: 100%;
        }
    
        .mat-mdc-tab:not(.mat-mdc-tab-disabled).mdc-tab--active .mdc-tab__text-label,
        .mat-mdc-tab-link:not(.mat-mdc-tab-disabled).mdc-tab--active .mdc-tab__text-label {
            color: white;
        }
    
        .mat-mdc-tab:not(.mat-mdc-tab-disabled) .mdc-tab-indicator__content--underline,
        .mat-mdc-tab-link:not(.mat-mdc-tab-disabled) .mdc-tab-indicator__content--underline {
            border-color: #139b48;
        }
    
        .mat-mdc-tab .mdc-tab__text-label,
        .mat-mdc-tab-link .mdc-tab__text-label {
            color: gray;
        }
    
        .mdc-text-field:not(.mdc-text-field--disabled) .mdc-text-field__input {
            color: white;
        }
    
        .mdc-text-field:not(.mdc-text-field--disabled) .mdc-floating-label {
            color: gray;
            padding-bottom: .3rem;
        }
    
        .mdc-text-field {
            padding: 0;
        }
    
        .mdc-text-field:not(.mdc-text-field--disabled) .mdc-floating-label {
            padding-bottom: 0;
        }
    
        .mat-mdc-form-field {
            width: 90%;
        }
    
        .mdc-text-field .mdc-text-field__input {
            caret-color: #139b48;
        }
    
        .mdc-text-field--filled .mdc-line-ripple::after {
            border-bottom-color: #139B48;
        }
    
        .mat-mdc-tab-body-content {
            height: 100%;
            flex-direction: column;
            display: flex;
            overflow: auto;
            gap: 1rem;
        }
    
        .mat-button-toggle-standalone.mat-button-toggle-appearance-standard:not([class*=mat-elevation-z]),
        .mat-button-toggle-group-appearance-standard:not([class*=mat-elevation-z]) {
            display: flex;
            gap: 1rem;
        }
    
        .mat-button-toggle-standalone.mat-button-toggle-appearance-standard,
        .mat-button-toggle-group-appearance-standard {
            border: none;
        }
    
        .mat-button-toggle-button {
            border-radius: 1rem;
        }
    
        .mat-button-toggle-standalone.mat-button-toggle-appearance-standard,
        .mat-button-toggle-group-appearance-standard {
            border-radius: 0;
        }
    
        .mat-button-toggle {
            white-space: nowrap;
            position: relative;
            border-radius: 1.5rem;
            padding: 0.55em 1.2em;
    
        }
        .mat-button-toggle-group-appearance-standard .mat-button-toggle + .mat-button-toggle{
            padding: 0.8em 1.2em !important;
        }
        .mat-button-toggle-appearance-standard {
            background: transparent;
            border: 1px solid gray;
            color: gray;
            padding: 0.8em 1.2em;
        }
    
        .mat-button-toggle-group-appearance-standard .mat-button-toggle+.mat-button-toggle {
            border-left: 2px solid gray;
            padding: 0.55em 1.2em;
        }
    
        .mat-button-toggle-checked.mat-button-toggle-appearance-standard {
            color: white;
            background: #545454;
            border: 1px solid #9b9b9b;
            border-left: 2px solid #9b9b9b;
            padding: 0.8em 1.2em;
        }
    
        .mat-button-toggle-appearance-standard .mat-button-toggle-label-content {
            padding: 0;
        }
    
        .mat-button-toggle-appearance-standard .mat-button-toggle-label-content {
            line-height: 0;
        }
    
        .mat-mdc-form-field {
            width: 90%;
        }
    
        .mat-mdc-icon-button svg {
            color: gray;
        }
    
        .mat-datepicker-content {
            background-color: rgba(63, 181, 83, 0.3) !important;
        }
    
        .mat-calendar-body-in-range::before {
            background: rgba(63, 181, 83, 0.3);
        }
    
        .mat-calendar-body-cell:not(.mat-calendar-body-disabled) {
            &.mat-calendar-body-active {
              &:focus {
                .mat-calendar-body-cell-content:not(.mat-calendar-body-selected).mat-focus-indicator.mat-calendar-body-today {
                    background:#139B48;
                }
              }
            }
          }
          .mat-focused .mat-form-field-label {
            color: #139B48 !important;
           }
    
        @media (hover: hover) {
            .mat-calendar-body-cell:not(.mat-calendar-body-disabled):hover>.mat-calendar-body-cell-content:not(.mat-calendar-body-selected):not(.mat-calendar-body-comparison-identical) {
                background-color: transparent;
            }
        }
        .mat-calendar-body-today:not(.mat-calendar-body-selected) { background: transparent; }
        .mdc-text-field:not(.mdc-text-field--disabled) .mdc-floating-label{
            color: gray;
        }

    .mat-mdc-form-field {
        border: 0;
    }

    .mdc-text-field:not(.mdc-text-field--disabled) .mdc-floating-label{
        color: gray !important;
    }

    .mdc-text-field--filled:not(.mdc-text-field--disabled) .mdc-line-ripple::before {
        border-bottom-color: gray;
    }

    .mdc-text-field--filled:not(.mdc-text-field--disabled):hover .mdc-line-ripple::before {
        border-bottom-color: gray;
    }

    .mdc-text-field--filled:not(.mdc-text-field--disabled) .mdc-line-ripple::after {
        border-bottom-color: #139B48;
    }

    .mdc-text-field:not(.mdc-text-field--disabled) .mdc-floating-label {
        color: gray;
    }.mat-mdc-form-field-infix {
        min-height: 48px;
    }
    .mdc-text-field--no-label:not(.mdc-text-field--outlined):not(.mdc-text-field--textarea) .mat-mdc-form-field-infix{
        display: flex;
        align-items:flex-end ;
    }
    .mat-mdc-select-arrow svg {
        fill: currentColor;
        position: absolute;
        top: 57%;
        left: 50%;
        transform: translate(-50%, -25%) !important;
    }.mdc-icon-button{
        align-items: flex-end;
        justify-content: flex-end;
    }
    .mat-mdc-icon-button.mat-mdc-button-base {
        padding: 0;
        padding-bottom: 5px;
    }
    .mdc-icon-button{
        display: flex !important;
    }
    .mat-date-range-input-wrapper {
        position: relative;
        overflow: hidden;
        max-width: calc(50% - 4px);
        margin-bottom: 5px;
    }
    .mat-mdc-select-value {
        width: 100%;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
        margin-bottom: 4px;
    }
}