.header {
    position: relative;
    top: 0;
    float: right;
    width: 80%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

p{
    margin: 0;
}

input{
    width:20rem ;
    background-color: inherit;
    border: 0;
    padding-bottom: 5px;
    border-bottom: 2px solid gray;
    appearance: none;
    box-sizing: unset;
    color: white;
    font-size: medium;
}

input:focus{
    outline:none;
    border-bottom: 2px solid green;
    caret-color: green;
}

input::placeholder{
    font-size: medium;
}

.week-circle{
    border: 3px solid transparent;
    border-radius: 20px;
    background: linear-gradient(to right, #111111, #111111), linear-gradient(to right, rgba(189, 30, 30, 1) , rgb(170 27 27 / 87%));
    background-clip: padding-box, border-box;
    background-origin: padding-box, border-box;  
    width: 1.3rem;
    height: 1.3rem;
    font-size:x-small;
    display:flex;
    align-items:center;
    justify-content:center;
    background-color:transparent;
    color: white;

}

.head-start{
 position: relative;
}

.search-icon{
    position: absolute;
    right: 5px;
    color: gray;
}

.head-middle{
    display: flex;
    gap: 1rem;
}

.logout{
    padding: .9rem 2.2rem;
    border-radius: 1rem;
    background: linear-gradient(to right, #111111, #111111) padding-box,
    linear-gradient(to right, rgb(255, 55, 55), rgb(133, 0, 0)) border-box,linear-gradient(to left, rgb(133, 0, 0), rgb(255, 55, 55)) border-box;
    border-radius: 1rem;
    border: 2px solid transparent;
    color: white;
    font-size: 14px;
    position: relative;
    overflow: hidden;
    z-index: 1;
}

.logout::before {
    content: '';
    width: 0;
    height: 3rem;
    border-radius: 1rem;
    position: absolute;
    top: 0;
    left: -3rem;
    background: transparent;
    background-image: linear-gradient(to right, rgb(255, 55, 55), rgb(133, 0, 0)),linear-gradient(to left, rgb(133, 0, 0), rgb(255, 55, 55));
    transition: all .25s ease-in-out;
    display: block;
    z-index: -1;
   }
   .logout:hover::before {
    width: 20rem;
   }
