<div class="header">
    <div class="head-start">
        <input type="text" placeholder="Enter Employee Name / Staff No.">
        <span class="search-icon"><i class="fa-solid fa-magnifying-glass"></i></span>
    </div>
    <div class="head-middle">
        <span class="week-circle" *ngFor="let item of weekdata" [ngClass]="item.cnt == 0 ?'week-circle':'error'">
            <span>{{item.week}}</span>
        </span>
    </div>
    <div>
        <button class="logout" (click)="logout()">
            Logout
        </button>
    </div>
</div>