<div class="leave-container">
    <div class="apply-leave">
        <div class="available-leaves">
            <span class="bubble" [style.color]="leavebalance<=0? 'red':'green'">
                {{leavebalance}}
            </span>
            <span>
                <h3>Available</h3>
                <h6>Leaves</h6>
            </span>
        </div>
        <div class="apply-leave-btn">
            <button class="leave-btn">Apply Leave</button>
        </div>
    </div>
    <div class="leave-requests">
        <div class="leave-top">
            <div class="leave-top-left">
                <h2>Leave Requests <span *ngIf="pending.length!=0">[ {{pending.length}} ]</span></h2>
            </div>

        </div>
        <div class="leave-table">
            <p *ngIf="pending.length==0"> No Leave Requests Available !!</p>
            <table class="attendance-table" *ngIf="pending.length!=0">
                <thead class="table-head">
                    <th>S.No.</th>
                    <th>Start Date</th>
                    <th>End Date</th>
                    <th>Total Days</th>
                    <th>Type</th>
                    <th>Leave Status</th>
                    <th>Action</th>
                </thead>
                <br>
                <tr *ngFor="let item of pending let i = index">
                    <td>{{i+1}}</td>
                    <td>{{item.startdate | date: 'dd-MM-yyyy'}}</td>
                    <td>{{item.enddate | date: 'dd-MM-yyyy'}}</td>
                    <td>{{item.day_count}}</td>
                    <td>{{item.leave_type_name == "Paid" ? "General":item.leave_type_name}}</td>
                    <td>{{item.req_status}}</td>
                    <td>{{item.discrepancy_status}}</td>
                    <td></td>
                    </tr>
            </table>
        </div>
    </div>
    <div class="leave-history">
        <div class="leave-top">
            <div class="leave-top-left">
                <h2>Leave History</h2>
            </div>
            <div class="leave-top-right">

                <div class="input">
                    <div class="input-head" id="datehead">
                        Date Range
                    </div>
                    <mat-form-field>
                        <mat-date-range-input [rangePicker]="picker" [formGroup]="historydate">
                            <input matStartDate formControlName="start">
                            <input matEndDate formControlName="end" (dateChange)="getLeaveHistoryByDate();">
                        </mat-date-range-input>
                        <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
                        <mat-date-range-picker #picker></mat-date-range-picker>

                    </mat-form-field>
                </div>

                <div>
                    <img src="/assets/excel.svg" class="download-image" (click)="downloadLeaveHistoryByDate();">
                </div>
            </div>
        </div>
        <div class="leave-table">
            <p *ngIf="history.length==0">No leave history available</p>
            <table class="attendance-table">
                <thead class="table-head" *ngIf="history.length !=0">
                    <th>S.No.</th>
                    <th>Start Date</th>
                    <th>End Date</th>
                    <th>Total Days</th>
                    <th>Type</th>
                    <th>Leave Status</th>
                    <th>Correction Status</th>
                    <th>Action</th>
                </thead>
                <br>
                <tr *ngFor="let item of history; let i = index">
                        <td>{{i+1}}</td>
                        <td>{{item.startdate | date: 'dd-MM-yyyy'}}</td>
                        <td>{{item.enddate | date: 'dd-MM-yyyy'}}</td>
                        <td>{{item.day_count}}</td>
                        <td>{{item.leave_type_name == "Paid" ? "General":item.leave_type_name}}</td>
                        <td> {{item.req_status}}</td>
                        <td>{{item.discrepancy_status != "pending" ? '---':item.discrepancy_status}}</td>
                        <td></td>
                    </tr>
            </table>
        </div>
    </div>
</div>