.leave-container {
    display: flex;
    flex-direction: column;
    background-color: black;
    min-height: 78vh;
    height: auto;
    padding: 1.5rem 5.5rem;
    justify-content: space-between;
    gap: 3rem;
}

.bubble {
    height: 4rem;
    width: 4rem;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 20px;
    font-weight: 700;
    border-radius: 50%;
    background: linear-gradient(to bottom, #222222, rgba(0, 0, 0, 0));
}

.available-leaves {
    display: flex;
    align-items: center;
    gap: 1.3rem;
}

.table-body{
    height: 20vh;
    overflow: auto;
}

.leave-btn {
    padding: 1.3rem 2.3rem;
    background: transparent;
    border: 2px solid #034003;
    color: white;
    font-size: small;
    font-weight: 100;
    border-radius: 1rem;
}

.leave-btn:hover {
    background-color:#008800;
}

.leave-btn {
    width: 10rem;
    padding: 1.5rem 2rem;
    border-radius: 30em;
    font-size: 15px;
    font-family: inherit;
    border: none;
    background: linear-gradient(to right, #141414, #030303) padding-box, linear-gradient(to right,#139b48, rgba(19, 155, 72, 0.1)) border-box;
    border-radius: 1rem;
    border: 2px solid transparent;
    position: relative;
    overflow: hidden;
    z-index: 1;
    color: white;
}

.leave-btn::before {
    content: '';
    width: 0;
    height: 3rem;
    border-radius: none;
    position: absolute;
    top: 0;
    left: -3rem;
    background-image: linear-gradient(to right,#139b48, rgba(19, 155, 72, 0.1));
    transition: .3s ease-in-out;
    display: block;
    z-index: -1;
}

.leave-btn:hover::before {
    width: 13rem;
}


h2 {
    font-size: 24px;
    font-weight: 500;
}

h3 {
    margin: 0;
    font-weight: 100;
}

h6 {
    margin: 0;
    font-weight: 100;

}

.apply-leave {
    background: linear-gradient(to bottom, #161616, rgba(0, 0, 0, 0));
    padding: 2rem 2.8rem;
    width: 43%;
    border-radius: 1rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.leave-top {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
}

.leave-top-left h2 {
    margin: 0;
    color: #139b48;
}

.leave-top-right {
    display: flex;
    gap: 2rem;
    align-items: flex-end;
}

table {
    width: 100%;
    border-collapse: collapse;
}

.table-head {
    position: sticky;
    top: 0;
    width: 100%;
    height: 4rem;
    background-color: #292929;
    word-wrap: break-word;
    color: #9b9b9b;
    z-index: 1;
}


.table-head th:first-child {
    border-top-left-radius: 1rem;
    border-bottom-left-radius: 1rem;
    padding-left: 1rem;
    text-align: center;
}

.table-head th:last-child {
    border-top-right-radius: 1rem;
    border-bottom-right-radius: 1rem;
    padding-right: 1rem;
}


tr td:first-child{
    text-align: center;
}

th {
    text-align: left;    
    font-size: 14px;
    font-weight: 700;
    max-width: 60px;
    word-wrap: break-word;
    vertical-align: middle!important;
}


tr td {
    text-align: left;
    max-width: 60px;
    font-size: 14px;
}

tr {
    width: 100%;
    height: 2.9rem;
    color: #c3c3c3;
    background-color: #111111;
    font-size: medium;
}

.gap{
    height: .5rem;
}

.leave-table p{
    margin: 0;
    font-size: small;
    color: gray;
}

td {
    text-align: center;
}

.input-head {
    font-size: small;
    padding-left: 2px;
}

::ng-deep {
    .mat-mdc-form-field{
        border: 0;
    }
    .mdc-text-field--filled:not(.mdc-text-field--disabled) .mdc-line-ripple::before{
        border-bottom-color:gray ;
    }
    .mdc-text-field--filled:not(.mdc-text-field--disabled):hover .mdc-line-ripple::before{
        border-bottom-color:gray ;
    }
    .mdc-text-field--filled:not(.mdc-text-field--disabled) .mdc-line-ripple::after{
        border-bottom-color:#139B48 ;
    }
    .mdc-text-field--no-label:not(.mdc-text-field--outlined):not(.mdc-text-field--textarea) .mat-mdc-form-field-infix {
        padding: 24px 0 0 0;
    }

    .mat-mdc-icon-button.mat-mdc-button-base {
        color: white;
    }

    .mat-mdc-form-field-flex {
        align-items: center !important;
    }

    .mat-mdc-form-field-subscript-wrapper {
        display: none;
    }

    .mat-calendar {
        border: 1px solid white;
        background-color: black;
    }

    .mdc-text-field:not(.mdc-text-field--disabled) .mdc-floating-label {
        color: white;
    }

    .mdc-text-field--filled:not(.mdc-text-field--disabled) {
        background-color: transparent;
    }

    .mat-datepicker-content {
        background-color: rgb(129, 129, 129);
        color: white !important;
    }

    .mat-calendar-body-selected {
        background-color: #139B48;
    }

    .mat-calendar-body-cell:not(.mat-calendar-body-disabled):hover>.mat-calendar-body-cell-content:not(.mat-calendar-body-selected):not(.mat-calendar-body-comparison-identical):hover {
        color: rgb(250, 250, 250);
        background-color: #424242;
    }

    .mat-calendar-body-cell-content,
    .mat-date-range-input-separator {
        color: rgb(255, 255, 255);
    }

    .mat-calendar-table-header,
    .mat-calendar-body-label {
        color: #139B48;
    }

    .mat-mdc-button:not(:disabled) {
        color: white !important;
    }

    .mat-calendar-arrow {
        fill: white;
    }

    .mat-calendar-next-button,
    .mat-datepicker-content .mat-calendar-previous-button {
        color: #139B48;
    }

    .mat-datepicker-content .mat-calendar-next-button {
        color: #139B48;
    }

    .mat-date-range-input-inner {
        color: white !important;
    }

    .mat-datepicker-content .mat-calendar {
        width: 20rem !important;
        height: 24rem !important;
        position: relative;
        font-size: xx-small;
    }

    .mat-mdc-raised-button:not(:disabled) {
        background-color: black !important;
    }
    .mat-mdc-snack-bar-container .mdc-snackbar__label{
        // color: #27da6b !important;
        font-weight: 600 !important;
        font-size: larger !important;
    }
    .cdk-overlay-pane{
        position: absolute !important;
    }
}

.input {
    display: flex;
    flex-direction: column;
    gap: .4rem;
    color: gray;
    position: relative;
}

#datehead {
    position: absolute;
}

input {
    width: 13rem;
    background-color: inherit;
    border: 0;
    padding-bottom: 10px;
    border-bottom: 2px solid gray;
    appearance: none;
    box-sizing: unset;
    color: white;
    font-size: medium;
}


input:focus {
    outline: none;
    border-bottom: 2px solid green;
    caret-color: green;
}

::placeholder {
    color: white;
}

.input-area {
    position: relative;
}

.search-icon {
    position: absolute;
    right: 5px;
    color: white;
    z-index: 0;
}

.download-image {
    height: 3rem;
    width: 2rem;
}

.leave-requests {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.leave-history {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}