.login-container{
    height: 100vh;
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;
        background-color: black;
}

.left-loginpage{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50%;
    height: 100%;
    background-color: black;
}

.right-loginpage{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 50%;
    gap: 1rem;
    height: 100%;
    background-color: rgb(0, 0, 0);
}

.right-loginpage h1,h3,h4{
    margin: 0;
}

h1{
    background:linear-gradient(to right,#36aa63,#119341);
    font-weight: 700;
    font-size: 2.6em;
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
    line-height:50.83px;
}

.input-fields{
    display: flex;
    gap: .5rem;
    justify-content: center;
    align-items: center;
}

h3{
    line-height: 29.05px;
    background: linear-gradient(to right,#545454,#363636);
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
    font-weight: 500;
    font-size: 24px;
}

.login-form{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background: linear-gradient(169.15deg,rgba(238, 237, 237, 0.15) 0%, rgba(68, 67, 67, 0.3) 96.79%);
    width: 45%;
    height: 35%;
    border-radius: 1.5rem;
    padding: 2.5rem 2rem 1rem 2rem;
}

.login-head{
    display: flex;
    align-items: flex-start;
    justify-content: flex-end;
    flex-direction: column;
    width: 50%;
    height: 25%;
    margin-bottom: 2rem;
    margin-left: 4em;
    font-size: 16px;
}

input[type=email],[type=password]{
    width:20rem ;
    background-color: inherit;
    border: 0;
    padding-bottom: 5px;
    border-bottom: 2px solid gray;
    appearance: none;
    box-sizing: unset;
    color: white;
    font-size: medium;
}


input[type=email]:focus{
    outline:none;
    border-bottom: 2px solid green;
    caret-color: green;
}

input[type=password]:focus{
    outline:none;
    border-bottom: 2px solid green;
    caret-color: green;
}

form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color:white;
    gap: 1.5rem;
}

.login-btn{
    width:20rem ;
    padding: .8rem 2rem;
    border-radius: 30em;
    font-size: 15px;
    font-family: inherit;
    border: none;
    background: linear-gradient(to right, #1f1f1f, #181717) padding-box,linear-gradient(to right, rgb(2, 167, 38), rgb(22, 48, 22)) border-box;
    border-radius: 1rem;
    border: 2px solid transparent;
    position: relative;
    overflow: hidden;
    z-index: 1;
    color: white;
}

.login-btn::before {
    content: '';
    width: 0;
    height: 3rem;
    border-radius: none;
    position: absolute;
    top: 0;
    left: -3rem;
    background-image: linear-gradient(to right, rgb(2, 167, 38), rgb(2, 75, 0));
    transition: .3s ease;
    display: block;
    z-index: -1;
   }
.login-btn:hover::before {
    width: 23rem;
   }

.forgot-pass{
    display: flex;
    align-items: center;
    justify-content:space-between;
    width: 100%;
    font-size: smaller;
    font-weight: 100;
    color: #139b48;
}

.error-popups{
    margin-left:1.6rem;
    align-items: flex-start !important;
    display: flex; width: 100%; 
    color: rgba(224, 55, 55, 1); 
    margin-top: .3rem;
    height: 1rem;
    font-size:15px;
}