<div class="login-container">
    <div class="left-loginpage">
        <img src="/assets/Frame.png" />
    </div>
    <div class="right-loginpage">
        <div class="login-head">
            <h1>Hello,</h1>
            <h3>Welcome back!</h3>
        </div>
        <div class="login-form">
            <form [formGroup]="loginForm" (ngSubmit)="submit()">
                <div>
                    <span class="input-fields">
                        <img src="/assets/usename.svg">
                        <input type="email" formControlName="email" placeholder="Email *" />
                    </span>
                    <div class="error-popups">
                        <span style="color: rgba(224, 55, 55, 1);"  *ngIf="email?.invalid && email?.touched">Enter a valid email* </span> 
                    </div>
                </div>

                <div>
                    <span class="input-fields">
                        <img src="/assets/password.svg">
                        <input type="password" formControlName="password" placeholder="Password *" />
                    </span>
                    <div class="error-popups">
                        <span *ngIf="password?.invalid && password?.touched">Enter a your password*</span>
                    </div>
                </div>
                <div class="forgot-pass">
                    <span>
                        <h2 *ngIf="serverresponse" style="color: red; margin: 0; font-size: small; font-weight: 500">
                            {{ serverresponse }}!!
                        </h2>
                    </span>
                    <span>
                        <h4>Forgot Password</h4>
                    </span>
                </div>
                <div>
                    <button type="submit" class="login-btn">Login</button>
                </div>
            </form>
        </div>
    </div>
</div>