<div class="timesheet">
    <div class="timesheet-top">
        <div class="timesheet-top-left">
            <h2>Weekly Timesheet</h2>
        </div>
    </div>
    <div class="timesheet-details">
        <table class="timesheet-table">
            <thead class="table-head">
                <th (click)="calculateByDay();">Week {{weekNumber}}</th>
                <th class="date-day" *ngFor="let item of days">{{item | date: "dd"}}<span class="day"> {{item |
                        date:"EE"}}</span></th>
                <th>Total</th>
            </thead>
            <div class="gap"></div>
            <tr class="table-row-1">
                <td>
                    {{projectName}} [{{cummilativeProject1Hours}} : {{cummilativeProject1Minutes}}]

                </td>
                <td *ngFor="let daydata of defaultprojectDetails; let i= index ;">
                    <div class="time-container">
                        <span class="timepicker" [ngClass]="isSaveAndSubmit && daydata.enable ?'timepicker':'timepicker-disabled'"  (click)="maketooltipshow(i,1);" [style.color]="daydata.h ==0 || daydata.m == 0? '#727272':'black'">
                            <input matInput type="number" maxlength="2" [disabled]="!daydata.enable"
                                [(ngModel)]="daydata.h" (ngModelChange)="calculateProject1Data(i,true);"
                                [ngModelOptions]="{updateOn: 'blur'}" maxlength="2" readonly="!isSaveAndSubmit" [style.color]="daydata.h ==0 || daydata.m == 0? '#727272':'black'">
                            :<select [disabled]="!daydata.enable || !isSaveAndSubmit" (change)="calculateProject1Data(i,true);" [(ngModel)]="daydata.m" [style.color]="daydata.h ==0 || daydata.m == 0? '#727272':'black'">
                                <option value="0">00</option>
                                <option value="15">15</option>
                                <option value="30">30</option>
                                <option value="45">45</option>
                            </select>
                        </span>
                        <span></span>
                    </div>
                        <span class="tooltiptext" *ngIf="i == 0" [style.visibility]="weekendSat && currentTooltipRow ==1 ?'visible':'hidden'">It's Saturday</span>
                        <span class="tooltiptext" *ngIf="i == 1" [style.visibility]="weekendSun && currentTooltipRow ==1 ?'visible':'hidden'">It's Sunday</span>
                        <span class="tooltiptext" *ngIf="numberGreaterThan24 &&  i == currentTootltip  && currentTooltipRow == 1" [ngClass]="numberGreaterThan24 ? 'tooltiptext1':'tooltiptext'">Number must be between 0 and 24</span>
                        <span class="tooltiptext" *ngIf="hourGreaterThan24 &&  i == errorplacevalue && !numberGreaterThan24 && currentTooltipRow ==1" [ngClass]="hourGreaterThan24 ? 'tooltiptext1':'tooltiptext'">Total hours for this day cannot be more than 24. Please re-enter.</span>
                        <span class="tooltiptext" *ngIf="vacationTaken &&  i == errorplacevalue2 && !hourGreaterThan24 &&!numberGreaterThan24 && currentTooltipRow ==1 " [ngClass]="vacationTaken ? 'tooltiptext1':'tooltiptext'">Hours filled for vacation</span>
                        <span class="tooltiptext" *ngIf="halfDayTaken &&  i == errorplacevalue1  && !hourGreaterThan24 &&!numberGreaterThan24 && currentTooltipRow ==1" [ngClass]="halfDayTaken ? 'tooltiptext1':'tooltiptext'"> More than 5 hours filled for half day vacation</span>
                </td>
                <td>
                    <div class="time-container">
                        <span [ngClass]="flag1 ? 'timepicker-total1':'timepicker-total'">
                            <input type="number" value="00" readonly
                                [(ngModel)]="project1nettotalHours ==0? '00':project1nettotalHours">
                            :<input type="number" value="00" readonly
                                [(ngModel)]="project1nettotalMinutes ==0? '00':project1nettotalMinutes">
                        </span>
                    </div>
                </td>
            </tr>
            <tr class="table-row-0" *ngIf="flag.showRow">
                <td>{{project0Name}} [{{cummilativeProject0Hours}} : {{cummilativeProject0Minutes}}]
                    <span class="close-project" (click)="openDialog()"><img src="/assets/remove project.svg" alt=""></span>
                </td>
                <td *ngFor="let daydata of initialProjectDetails; let i= index ;">
                    <div class="time-container">
                        <span class="timepicker" [ngClass]="isSaveAndSubmit && daydata.enable ? 'timepicker':'timepicker-disabled'"
                            (click)="maketooltipshow(i,2);" [style.color]="daydata.h !=0 || daydata.m != 0? '#dcd9d9':'#161616'">
                            <input matInput type="number" maxlength="2" [disabled]="!daydata.enable"
                                [(ngModel)]="daydata.h" (ngModelChange)="calculateproject0data(i);"
                                [ngModelOptions]="{updateOn: 'blur'}" maxlength="2" readonly="!isSaveAndSubmit" [style.color]="daydata.h !=0 || daydata.m != 0? '#dcd9d9':'#161616'">

                            :<select [disabled]="!daydata.enable || !isSaveAndSubmit" [value]="daydata.m"
                                (change)="calculateproject0data(i);" [(ngModel)]="daydata.m" [style.color]="daydata.h !=0 || daydata.m != 0? '#dcd9d9':'#161616'">
                                <option value="0">00</option>
                                <option value="15">15</option>
                                <option value="30">30</option>
                                <option value="45">45</option>
                            </select>
                        </span>
                        <span></span>
                    </div>
                    <span class="tooltiptext" *ngIf="i == 0" [style.visibility]="weekendSat && currentTooltipRow ==2?'visible':'hidden'">It's Saturday</span>
                    <span class="tooltiptext" *ngIf="i == 1" [style.visibility]="weekendSun && currentTooltipRow ==2?'visible':'hidden'">It's Sunday</span>
                    <span class="tooltiptext" *ngIf="numberGreaterThan24 &&  i == currentTootltip && currentTooltipRow ==2" [ngClass]="numberGreaterThan24 ? 'tooltiptext1':'tooltiptext'">Number must be between 0 and 24</span>
                    <span class="tooltiptext" *ngIf="hourGreaterThan24 &&  i == errorplacevalue && currentTooltipRow ==2" [ngClass]="hourGreaterThan24 ? 'tooltiptext1':'tooltiptext'">Total hours for this day cannot be more than 24. Please re-enter.</span>
                </td>
                <td>
                    <div class="time-container">
                        <span [ngClass]="flag0 ? 'timepicker-total1':'timepicker-total'">
                            <input type="number" value="00" readonly
                                [(ngModel)]="project0nettotalHours == 0? '00':project0nettotalHours">
                            :<input type="number" value="00" readonly
                                [(ngModel)]="project0nettotalMinutes == 0? '00':project0nettotalMinutes">
                        </span>
                    </div>
                </td>
            </tr>
            <tr class="table-row-2">
                <td>
                    <span class="select-btn" (click)="flag.buttonClicked = true;$event.stopPropagation()" *ngIf="!flag.showRow && isSaveAndSubmit">
                        <span class="circle">+</span>Select Project</span>
                        <div class="project-names" *ngIf="flag.buttonClicked">
                            <div class="proj1" (click)="flag.showRow = true;$event.stopPropagation();flag.buttonClicked = false">
                                {{project0Name}}
                            </div>
                        </div>
                        Miscellaneous</td>
                <td *ngFor="let daydata of miscellaneous; let i = index;">
                    <div class="time-container">
                        <span class="timepicker" [ngClass]="isSaveAndSubmit && daydata.enable ? 'timepicker':'timepicker-disabled'" (click)="maketooltipshow(i,3);" [style.color]="daydata.h !=0 || daydata.m != 0? '#dcd9d9':'#161616'">
                            <input type="number" min=00 max=01 [disabled]="!daydata.enable" [(ngModel)]="daydata.h"
                                (ngModelChange)="calculateMiscellaneousData(i);" [ngModelOptions]="{updateOn: 'blur'}" readonly="!isSaveAndSubmit" [style.color]="daydata.h == 0 || daydata.m == 0 ? '#161616':'#dcd9d9'">
                            :<select [disabled]="!daydata.enable || !isSaveAndSubmit" [(ngModel)]="daydata.m"
                                (change)="calculateMiscellaneousData(i);" [style.color]="daydata.h !=0 || daydata.m !=0 ? '#dcd9d9':'#161616'">
                                <option value="0">00</option>
                                <option value="15">15</option>
                                <option value="30">30</option>
                                <option value="45">45</option>
                            </select>
                        </span>
                    </div>
                    <span class="tooltiptext" *ngIf="i == 0" [style.visibility]="weekendSat && currentTooltipRow ==3?'visible':'hidden'">It's Saturday</span>
                    <span class="tooltiptext" *ngIf="i == 1" [style.visibility]="weekendSun && currentTooltipRow ==3?'visible':'hidden'">It's Sunday</span>
                    <span class="tooltiptext" *ngIf="numberGreaterThan24 &&  i == currentTootltip  && currentTooltipRow ==3" [ngClass]="numberGreaterThan24 ? 'tooltiptext1':'tooltiptext'">Number must be between 0 and 24</span>
                    <span class="tooltiptext" *ngIf="hourGreaterThan24 &&  i == errorplacevalue && currentTooltipRow ==3" [ngClass]="hourGreaterThan24 ? 'tooltiptext1':'tooltiptext'">Total hours for this day cannot be more than 24. Please re-enter.</span>
                </td>
                <td>
                    <div class="time-container">
                        <span [ngClass]="flag2 ? 'timepicker-total1':'timepicker-total'">
                            <input type="number"
                                [(ngModel)]="cummilativenettotalHours ==0? '00':cummilativenettotalHours" readonly>
                            :<input type="number"
                                [(ngModel)]="cummilativenettotalMinutes==0? '00':cummilativenettotalMinutes" readonly>
                        </span>
                    </div>
                </td>
            </tr>
            <tr class="table-row-3">
                <td>Holiday</td>
                <td *ngFor="let daydata of holidaydata">
                    <div class="time-container">
                        <span class="timepicker" [ngClass]="daydata.enable ? 'timepicker':'timepicker-disabled'" [style.color]="daydata.h !=0 || daydata.m != 0? '#dcd9d9':'#161616'">
                            <input type="number" min=00 max=01 [(ngModel)]=daydata.h [disabled]="!daydata.enable" [style.color]="daydata.h !=0 || daydata.m != 0? '#dcd9d9':'#161616'">
                            :<select [disabled]="!daydata.enable" [(ngModel)]=daydata.m [style.color]="daydata.h !=0 || daydata.m != 0? '#dcd9d9':'#161616'"> 
                                <option value=0>00</option>
                                <option value=15>15</option>
                                <option value=30>30</option>
                                <option value=45>45</option>
                            </select>
                        </span>
                    </div>
                </td>
                <td>
                    <div class="time-container">
                        <span class="timepicker-total">
                            <input type="number" value="00" readonly
                                [(ngModel)]="holidaynettotalHours ==0? '00':holidaynettotalHours">
                            :<input type="number" value="00" readonly
                                [(ngModel)]="holidaynettotalMinutes ==0? '00':holidaynettotalMinutes">
                        </span>
                    </div>
                </td>
            </tr>
            <tr class="table-row-4">
                <td>Vacation</td>
                <td *ngFor="let daydata of vacation">
                    <div class="time-container">
                        <span class="timepicker" [ngClass]="daydata.enable ? 'timepicker':'timepicker-disabled'" [style.color]="daydata.h !=0 ? '#dcd9d9 !important':'#161616'">
                            <input type="number" min=00 max=01 [(ngModel)]=daydata.h [disabled]="!daydata.enable" [style.color]="daydata.h !=0 ? '#dcd9d9 !important':'#161616'">
                            :<select [disabled]="!daydata.enable" [(ngModel)]="daydata.m"[style.color]="daydata.h !=0 ? '#dcd9d9 !important':'#161616'">
                                <option value=0>00</option>
                                <option value=15>15</option>
                                <option value=30>30</option>
                                <option value=45>45</option>
                            </select>
                        </span>
                    </div>
                </td>
                <td>
                    <div class="time-container">
                        <span class="timepicker-total">
                            <input type="number" value="00" readonly
                                [(ngModel)]="vacationnettotalHours ==0 ? '00':vacationnettotalHours">
                            :<input type="number" value="00" readonly
                                [(ngModel)]="vacationnettotalMinutes ==0 ? '00':vacationnettotalMinutes">
                        </span>
                    </div>
                </td>
            </tr>
            <tr class="table-row-5">
                <td style="color: white; font-size: 14px;">Total Hours</td>
                <td>
                    <div class="time-container">
                        <span class="timepicker-total1">
                            <input type="number" min=00 max=01 [(ngModel)]="day0NetHours == 0 ? '00':day0NetHours"
                                readonly>
                            :<input type="number" [(ngModel)]="day0NetMinutes == 0 ? '00':day0NetMinutes" readonly>
                        </span>
                    </div>
                </td>
                <td>
                    <div class="time-container">
                        <span class="timepicker-total1">
                            <input type="number" min=00 max=01 [(ngModel)]="day1NetHours == 0 ? '00':day1NetHours"
                                readonly>
                            :<input type="number" [(ngModel)]="day1NetMinutes == 0 ? '00':day1NetMinutes" readonly>
                        </span>
                    </div>
                </td>
                <td>
                    <div class="time-container">
                        <span class="timepicker-total1">
                            <input type="number" min=00 max=01 [(ngModel)]="day2NetHours == 0 ? '00':day2NetHours"
                                readonly>
                            :<input type="number" [(ngModel)]="day2NetMinutes == 0 ? '00':day2NetMinutes" readonly>
                        </span>
                    </div>
                </td>
                <td>
                    <div class="time-container">
                        <span class="timepicker-total1">
                            <input type="number" min=00 max=01 [(ngModel)]="day3NetHours == 0 ? '00':day3NetHours"
                                readonly>
                            :<input type="number" [(ngModel)]="day3NetMinutes == 0 ? '00':day3NetMinutes" readonly>
                        </span>
                    </div>
                </td>
                <td>
                    <div class="time-container">
                        <span class="timepicker-total1">
                            <input type="number" min=00 max=01 [(ngModel)]="day4NetHours == 0 ? '00':day4NetHours"
                                readonly>
                            :<input type="number" [(ngModel)]="day4NetMinutes == 0 ? '00':day4NetMinutes" readonly>
                        </span>
                    </div>
                </td>
                <td>
                    <div class="time-container">
                        <span class="timepicker-total1">
                            <input type="number" min=00 max=01 [(ngModel)]="day5NetHours == 0 ? '00':day5NetHours"
                                readonly>
                            :<input type="number" [(ngModel)]="day5NetMinutes == 0 ? '00':day5NetMinutes" readonly>
                        </span>
                    </div>
                </td>
                <td>
                    <div class="time-container">
                        <span class="timepicker-total1">
                            <input type="number" min=00 max=01 [(ngModel)]="day6NetHours == 0 ? '00':day6NetHours"
                                readonly>
                            :<input type="number" [(ngModel)]="day6NetMinutes == 0 ? '00':day6NetMinutes" readonly>
                        </span>
                    </div>
                </td>
                <td>
                    <div class="time-container">
                        <span class="timepicker-total1">
                            <input type="number" value="00" [(ngModel)]="netTotalDaysHours == 0? '00':netTotalDaysHours"
                                readonly>
                            :<input type="number" value="00" readonly
                                [(ngModel)]="netTotalDaysMinutes ==0 ? '00': netTotalDaysMinutes">
                        </span>
                    </div>
                </td>
            </tr>
            <tr class="table-row-6">
                <td>Net Working Hours<br>
                    (from Access Control)</td>
                <td>
                    <div class="time-container">
                        <span class="timepicker-total1">
                            <input type="number" value="00" readonly>
                            :<input type="number" value="00" readonly>
                        </span>
                    </div>
                </td>
                <td>
                    <div class="time-container">
                        <span class="timepicker-total1">
                            <input type="number" value="00" readonly>
                            :<input type="number" value="00" readonly>
                        </span>
                    </div>
                </td>
                <td>
                    <div class="time-container">
                        <span class="timepicker-total1">
                            <input type="number" value="00" readonly>
                            :<input type="number" value="00" readonly>
                        </span>
                    </div>
                </td>
                <td>
                    <div class="time-container">
                        <span class="timepicker-total1">
                            <input type="number" value="00" readonly>
                            :<input type="number" value="00" readonly>
                        </span>
                    </div>
                </td>
                <td>
                    <div class="time-container">
                        <span class="timepicker-total1">
                            <input type="number" value="00" readonly>
                            :<input type="number" value="00" readonly>
                        </span>
                    </div>
                </td>
                <td>
                    <div class="time-container">
                        <span class="timepicker-total1">
                            <input type="number" value="00" readonly>
                            :<input type="number" value="00" readonly>
                        </span>
                    </div>
                </td>
                <td>
                    <div class="time-container">
                        <span class="timepicker-total1">
                            <input type="number" value="00" readonly>
                            :<input type="number" value="00" readonly>
                        </span>
                    </div>
                </td>
                <td>
                    <div class="time-container">
                        <span class="timepicker-total">
                            <input type="number" value="00" readonly>
                            :<input type="number" value="00" readonly>
                        </span>
                    </div>
                </td>
            </tr>
            <tr class="table-row-7">
                <td>Gross Working Hours<br>
                    (from Access Control)</td>
                <td>
                    <div class="time-container">
                        <span class="timepicker-total1">
                            <input type="number" value="00" readonly>
                            :<input type="number" value="00" readonly>
                        </span>
                    </div>
                </td>
                <td>
                    <div class="time-container">
                        <span class="timepicker-total1">
                            <input type="number" value="00" readonly>
                            :<input type="number" value="00" readonly>
                        </span>
                    </div>
                </td>
                <td>
                    <div class="time-container">
                        <span class="timepicker-total1">
                            <input type="number" value="00" readonly>
                            :<input type="number" value="00" readonly>
                        </span>
                    </div>
                </td>
                <td>
                    <div class="time-container">
                        <span class="timepicker-total1">
                            <input type="number" value="00" readonly>
                            :<input type="number" value="00" readonly>
                        </span>
                    </div>
                </td>
                <td>
                    <div class="time-container">
                        <span class="timepicker-total1">
                            <input type="number" value="00" readonly>
                            :<input type="number" value="00" readonly>
                        </span>
                    </div>
                </td>
                <td>
                    <div class="time-container">
                        <span class="timepicker-total1">
                            <input type="number" value="00" readonly>
                            :<input type="number" value="00" readonly>
                        </span>
                    </div>
                </td>
                <td>
                    <div class="time-container">
                        <span class="timepicker-total1">
                            <input type="number" value="00" readonly>
                            :<input type="number" value="00" readonly>
                        </span>
                    </div>
                </td>
                <td>
                    <div class="time-container">
                        <span class="timepicker-total">
                            <input type="number" value="00" readonly>
                            :<input type="number" value="00" readonly>
                        </span>
                    </div>
                </td>
            </tr>
        </table>
    </div>
    <div class="timesheet-top">
        <div class="timesheet-top-left">
            <h2>Weekly Status Report</h2>
        </div>
        <div class="timesheet-top-right">
            <p style="font-size: smaller; color: gray;"> {{totaltextAreaLength}} / 5000</p>
        </div>
    </div>
    <div class="timesheet-details">

        <div class="timesheet-textarea-container">
            <div class="active-projects">
                <div class="project1">
                    <div class="head-text">{{projectName}}</div>
                    <div class="textarea-div">
                        <textarea placeholder="Add details of project" [(ngModel)]="activeprojectData" (ngModelChange)="calculateLength()" [ngModelOptions]="{updateOn: 'change'}"></textarea>
                    </div>
                </div>

                <div class="project1" *ngIf="flag.showRow1">
                    <div class="head-text">{{projectName}}</div>
                    <div class="textarea-div">
                        <textarea placeholder="Add details of project"></textarea>
                    </div>
                </div>
                <span class="select-btn-bottom" (click)="flag.buttonClicked1 = true;$event.stopPropagation()" *ngIf="!flag.showRow1 && isSaveAndSubmit">
                    <span class="circle">+</span>Select Project</span>
                    <div class="project-names-1" *ngIf="flag.buttonClicked1">
                        <div class="proj1" (click)="flag.showRow1 = true;$event.stopPropagation();flag.buttonClicked1 = false">
                            {{project0Name}}
                        </div>
                    </div>
            </div>
            <div class="general-project">
                <div class="head-text1">General Project</div>
                <textarea placeholder="General details to include" class="txtarea1" [(ngModel)]="generalTextAreaData" (ngModelChange)="calculateLength()" [ngModelOptions]="{updateOn: 'change'}"></textarea>
            </div>
        </div>
        <div class="submit-btns">
            <button type="submit" class="submit-save" [disabled]="!saveAndSubmitButtonEnable" *ngIf="isSaveAndSubmit">Save & Submit</button>
            <button type="submit" class="submit-only" *ngIf="isSaveAndSubmit" (click)="saveData();">Save</button>
        </div>
    </div>
</div>