.timesheet {
    padding: 1.82rem 5.5rem;
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    height: auto;
}

.timesheet-top {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.timesheet-top-left h2 {
    margin: 0;
    color: #139b48;
    font-weight: 500;
    font-size: 24px;
}

.timesheet-details {
    width: 100%;
    color: #545454;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 4rem;
    position: relative;
}

.timesheet-table thead th {
    position: sticky;
    top: 0;
    text-align: center;
}

.gap {
    height: .3rem;
}

tr td:first-child{
    text-align: left;
    padding-left: 2rem;
    color:gray;
    font-weight: 100;
}

.table-row-1 td:first-child{
    font-size: 15px;
    z-index: 1;
    color: white;
    border-top-left-radius: .5rem;    
    border-top-right-radius: .5rem;
    background: linear-gradient(to bottom,var(--col-primary-400),var(--col-primary-900));
}

p{
    margin: 0;
}

td {
    position: relative;
  }
  
td .tooltiptext {
    visibility: hidden;
    width: 80%;
    background-color:#f33d30;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;
    position: absolute;
    z-index: 1000;
    bottom: -30%;
    left: 10%;
    font-size: smaller;
  }
  
  td .tooltiptext1 {
    visibility: visible;
    width: 160%;
    background-color:#f33d30;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;
    position: absolute;
    z-index: 1000;
    bottom: -20%;
    left: -45%;
    font-size: smaller;
  }


  td .tooltiptext1::after {
    content: "";
    position: absolute;
    bottom: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: transparent transparent #f33d30 transparent;
  }

  td .tooltiptext::after {
    content: "";
    position: absolute;
    bottom: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: transparent transparent #f33d30 transparent;
  }

.sat{
    visibility: hidden;
    width: 120px;
    background-color: black;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;
    position: absolute;
    z-index: 1;
    top: 150%;
    left: 50%;
    margin-left: -60px;
}

.select-btn{
    position: absolute;
    top: 0;
    right: 0;
    display: flex;
    align-items: center;
    width: 5.7rem;
    word-wrap: inherit;
    font-size: 11px;
    gap: 4px;
    border: 1px solid white;
    padding: 4px 4px;
    border-radius: 0.8rem;
    color: white;
}

.project-names{
    position: absolute;
    right: 0;
    display: flex;
    flex-direction: column;
    width: 10rem;
    background-color: #c3c3c3;
    border-radius: .3rem;
}

.proj1{
    display: flex;
    padding: 15px 15px;
    font-size: smaller;
    color: #111111;
}

.proj1:hover{
    background: #9b9b9b;
    border-radius: .3rem;
}

.circle{
    border-radius: 10rem;
    border: 1px solid white;
    padding: 1px;
    width: 10px;
    height: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.table-row-0 td:first-child{
    font-size: 15px;
    z-index: 1;
    color: white;
    background: transparent;
    border-top-left-radius: .5rem;    
    border-top-right-radius: .5rem;
    background: linear-gradient(to bottom,var(--col-primary-400),var(--col-primary-900));
    position: relative;
}

.close-project{
    position: absolute;
    left: 5%;
    top: 36%;
}


.table-row-2 td:first-child{
    position: relative;
}


.table-row-0 td:first-child{
    font-size: 15px;
    color: white;
}

tr td{
    text-align: center;
    width: 120px;
    position: relative;
}

tr td:last-child{
    padding-right: 1rem;
}

.table-head th:first-child {
    border-top-left-radius: 1rem;
    border-bottom-left-radius: 1rem;
    text-align: center;
    font-size: 17px;
    width: 15rem;
}

.table-head th:last-child {
    border-top-right-radius: 1rem;
    border-bottom-right-radius: 1rem;
    padding-right: 1rem;
}

th {
    font-size: 15px;
    font-weight: 700;
    word-wrap: break-word;
    vertical-align: middle!important;
}

table {
    width: 100%;
    border-collapse: collapse;
}

.timesheet-table{
    width: 100%;
}

.table-head {
    position: sticky;
    top: 0;
    width: 100%;
    height: 4rem;
    background-color: #292929;
    word-wrap: break-word;
    color: #9b9b9b;
    z-index: 10000;
}
.table-head th:first-child {
    border-top-left-radius: 1rem;
    border-bottom-left-radius: 1rem;
}

.table-head th:last-child {
    border-top-right-radius: 1rem;
    border-bottom-right-radius: 1rem;
}

tr {
    width: 100%;
    height: 4rem;
    color: #c3c3c3;
    background-color: #111111;
    z-index: -1;
}

td {
    font-size: 13px;
    font-weight: 700;
    word-wrap: break-word;
    vertical-align: middle!important;
}

.date-day:nth-child(2){
    color: gray;
}

.date-day:nth-child(3){
    color: gray;
}

input[type=number]::-webkit-inner-spin-button {
    -webkit-appearance: none;

}

input[type=number]{
    outline: none;
    border: none;
    margin: 0;
    padding: 0;
    width: 1.4rem;
    text-align: center;
    font-weight: 600;

}


input[type=number]:focus {
    border: none;
    outline: none;
    margin: 0;
    padding: 0;
}

select option:focus{
    outline: none;
}

select{
    outline: none;
    background-color: white;
    border: none;
    font-weight: 600;
}

option{
    outline: none;
}

.timepicker{
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: small;
    background-color: white;
    color: black;
    width: 60%;
    height: 2rem;
    border-radius: .3rem;
}

.time-container{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}

.timepicker-total{
    background: transparent;
    background-color: transparent;
    display: flex;
    color: rgb(59, 59, 59);
    font-weight: 600;
}

.timepicker-total1{
    background: transparent;
    background-color: transparent;
    display: flex;  
    color: rgb(224, 224, 224) !important;
    font-weight: 600;
}

.timepicker-total1 input[type=number]{
    background: transparent;
    background-color: transparent;
    color: rgb(224, 224, 224);
    font-weight: 600;
}

.timepicker-total input[type=number]{
    background: transparent;
    background-color: transparent;
    color: rgb(59, 59, 59);
    font-weight: 600;
}

.timesheet-textarea-container{
    display: grid;
    width: 100%;
    grid-template-areas: "leftside rightside";
    grid-template-columns: 60% 30%;
    gap: 2.5rem;
}

.active-projects{
    grid-area: leftside;
    display: flex;
    flex-direction: column;
    gap: 3rem;
}

.project1{
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
}

.general-project{
    grid-area: rightside;
    display: grid;
    grid-template-areas: 
    "head"
    "textarea";
    grid-template-rows: 22px 1fr;
    gap: 1rem;
    height: 100%;
}

.select-btn-bottom{
    position: absolute;
    bottom: 20%;
    left: 0;
    display: flex;
    align-items: center;
    width: 5.7rem;
    word-wrap: inherit;
    font-size: 11px;
    gap: 4px;
    border: 1px solid white;
    padding: 4px 4px;
    border-radius: 0.8rem;
    color: white;
}


.project-names-1{
    position: absolute;
    bottom: 0;
    left: 0;
    display: flex;
    flex-direction: column;
    width: 10rem;
    background-color: #c3c3c3;
    border-radius: .3rem;
}

.active-projects{
    width: 100%;
}

.general-project{
    width: 100%;
}

.project1 textarea{
    width: 95%;
    height: 82%;
}

.general-project textarea{
    width: 50vh;
    min-height: 82%;
}

.head-text{
    padding-left: .5rem;
    color: white;
    font-size: 14px;
    border-left: 2px solid #139b48;
}

.head-text1{
    grid-area: head;
    padding-left: .5rem;
    color: white;
    font-size: 14px;
    border-left: 2px solid #139b48;
}

.txtarea1{
    grid-area: textarea;
}

textarea{
    background-color: #111111;
    border: none;
    border-radius: .5rem;
    padding: 1.2rem 1rem;
    outline: none;
    caret-color: #139b48;
    color: gray;
    font-size: medium;
}

textarea::placeholder{
    font-size: small;
    color: rgb(66, 66, 66)
}

.submit-btns button{
    padding: 1rem 2rem;
    border-radius: 1rem;
    border: 1px solid #139b48;
    background: transparent;
    color: white;
    font-size: 14px;
}

.submit-btns button:hover{
    padding: 1rem 2rem;
    border-radius: 1rem;
    border: 1px solid #139b48;
    background-image: linear-gradient(to right, rgb(2, 167, 38), rgb(2, 75, 0));
    color: white;
    font-size: 14px;
}

.submit-btns button:last-child{
    padding: 1rem 2rem;
    border-radius: 1rem;
    border: 1px solid gray;
    background: transparent;
}
.submit-btns button:last-child:hover{
    padding: 1rem 2rem;
    border-radius: 1rem;
    background-image: linear-gradient(to right, #727272, rgba(128, 128, 128, 0.2));
    border: 1px solid gray;
}


.submit-btns button:first-child:disabled{
    padding: 1rem 2rem;
    border-radius: 1rem;
    border: 1px solid #052512;
    background: transparent;
    color: rgb(133, 133, 133);
    font-size: 14px;
}

.submit-btns{
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
    width: 100%;
    gap: 1rem ;
}

.timepicker-disabled{
    background: var(--col-primary-500);
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: small;
    width: 60%;
    height: 2rem;
    border-radius: .3rem;
    font-weight: 600;
}

.timepicker-disabled select{
    background: transparent;
    appearance: none;
    color: black;
    width: 37px;
    text-align: center;
    font-weight: 600;
}

.timepicker-disabled input{
    background: transparent;
    color: black;
    font-weight: 600;
}
