<div class="timesheet">
    <div class="timesheet-top">
        <div class="timesheet-top-left">
            <h2>Weekly Timesheet</h2>
        </div>
    </div>
    <div class="timesheet-details">
        <table class="timesheet-table">
            <thead class="table-head">
                <th>Week {{weekNumber}}</th>
                <th class="date-day" *ngFor="let item of days">{{item | date: "dd"}}<span class="day"> {{item |
                        date:"EE"}}</span></th>
                <th>Total</th>
            </thead>
            <div class="gap"></div>
            <ng-container *ngFor="let item of activeProjectsList; let c = index;">
                <tr class="table-row-1" *ngIf="item.visibilityFlag">
                    <td>
                        {{item.project_name}} [{{item.cumulative.h | number:'2.'}} : {{item.cumulative.m |
                        number:'2.'}}]
                        <span class="close-project" (click)="openDialog(item.priority);">
                            <img src="/assets/remove project.svg" *ngIf="item.priority !=1">
                        </span>
                    </td>
                    <td *ngFor="let daydata of item.work_hours; let i= index ;">
                        <div class="time-container">
                            <span class="timepicker"
                                [ngClass]="isSaveAndSubmit && daydata.enable ?'timepicker':'timepicker-disabled'"
                                [style.color]="daydata.h ==0 || daydata.m == 0? '#727272':'black'"
                                (click)="maketooltipshow(i,1,item.priority);">
                                <input matInput type="number" min=00 max=24 maxlength="24"
                                    [disabled]="!daydata.enable || !isSaveAndSubmit" [(ngModel)]="daydata.h"
                                    [ngModelOptions]="{updateOn: 'blur'}"
                                    (ngModelChange)="isGreaterThan24('h',i,item.work_hours,1,item.priority);"
                                    maxlength="2" readonly="false" [style.color]="daydata.h == 0? '#727272':'black'">
                                :<select [disabled]="!daydata.enable || !isSaveAndSubmit" [(ngModel)]="daydata.m"
                                    (change)="isGreaterThan24('m',i,item.work_hours,1,item.priority);"
                                    [style.color]="daydata.m == 0? '#727272':'black'">
                                    <option value="0">00</option>
                                    <option value="15">15</option>
                                    <option value="30">30</option>
                                    <option value="45">45</option>
                                </select>
                            </span>
                        </div>
                        <span class="tooltiptext" *ngIf="i == 0"
                            [style.visibility]="weekendSat && currentRow == i && item.priority == currentColumn ?'visible':'hidden'">
                            It's Saturday
                        </span>
                        <span class="tooltiptext" *ngIf="i == 1"
                            [style.visibility]="weekendSun && currentRow == i && item.priority == currentColumn ?'visible':'hidden'">
                            It's Sunday
                        </span>
                        <span class="tooltiptext"
                            *ngIf="numberGreaterThan24 && currentRow == i && item.priority == currentColumn"
                            [ngClass]="numberGreaterThan24 ? 'tooltiptext1':'tooltiptext'">Number must be between 0 and
                            24
                        </span>
                        <span class="tooltiptext"
                            *ngIf="!numberGreaterThan24 && hourGreaterThan24 &&  i == currentRow && item.priority == currentColumn"
                            [ngClass]="hourGreaterThan24 ? 'tooltiptext1':'tooltiptext'">Total hours for this day cannot
                            be
                            more than 24. Please re-enter.
                        </span>
                        <span class="tooltiptext"
                            *ngIf="!numberGreaterThan24 && minGreaterThan24 &&  i == currentRow && item.priority == currentColumn"
                            [ngClass]="minGreaterThan24 ? 'tooltiptext2':'tooltiptext'">Total hours for this day cannot
                            be
                            more than 24. Please re-enter.
                        </span>
                        <span class="tooltiptext"
                            *ngIf="onVacation &&  i == currentRow && !hourGreaterThan24 && !minGreaterThan24 &&!numberGreaterThan24 && item.priority == currentColumn"
                            [ngClass]="!left ? 'tooltiptext2':'tooltiptext1'">Hours filled for vacation
                        </span>
                        <span class="tooltiptext"
                            *ngIf="halfDay &&  i == currentRow  && !hourGreaterThan24 && !minGreaterThan24 &&!numberGreaterThan24 && item.priority == currentColumn "
                            [ngClass]="!left ? 'tooltiptext2':'tooltiptext1'"> More than 5 hours filled for half day
                            vacation
                        </span>
                    </td>
                    <td>
                        <div class="time-container">
                            <span
                                [ngClass]="addingRowValue(item.work_hours) != '00 : 00' ? 'timepicker-total1':'timepicker-total'">
                                {{addingRowValue(item.work_hours)}}
                            </span>
                        </div>
                    </td>
                </tr>
            </ng-container>
            <ng-container *ngFor="let item of inActiveProjectsList; let c = index;">
                <tr class="table-row-1" *ngIf="item.visibilityFlag">
                    <td>
                        {{item.project_name}} [{{item.cumulative.h | number:'2.'}} : {{item.cumulative.m |
                        number:'2.'}}] <span class="close-project" (click)="openDialog(item.priority);"><img
                                src="/assets/remove project.svg" alt="" *ngIf="item.priority !=1"></span>
                    </td>
                    <td *ngFor="let daydata of item.work_hours; let i= index ;">
                        <div class="time-container">
                            <span class="timepicker" (click)="maketooltipshow(i,1,item.priority);"
                                [ngClass]="isSaveAndSubmit && daydata.enable ?'timepicker':'timepicker-disabled'"
                                [style.color]="daydata.h ==0 || daydata.m == 0? '#727272':'black'">
                                <input matInput type="number" min=00 max=24 maxlength="24"
                                    [disabled]="!daydata.enable || !isSaveAndSubmit" [(ngModel)]="daydata.h"
                                    [ngModelOptions]="{updateOn: 'blur'}"
                                    (ngModelChange)="isGreaterThan24('h',i,item.work_hours,2,item.priority);"
                                    maxlength="2" readonly="false" [style.color]="daydata.h == 0? '#727272':'black'">
                                :<select [disabled]="!daydata.enable || !isSaveAndSubmit" [(ngModel)]="daydata.m"
                                    (change)="isGreaterThan24('m',i,item.work_hours,1,item.priority);"
                                    [style.color]="daydata.m == 0? '#727272':'black'">
                                    <option value="0">00</option>
                                    <option value="15">15</option>
                                    <option value="30">30</option>
                                    <option value="45">45</option>
                                </select>
                            </span>
                        </div>
                        <span class="tooltiptext" *ngIf="i == 0"
                            [style.visibility]="weekendSat && currentRow == i && item.priority == currentColumn ?'visible':'hidden'">It's
                            Saturday</span>
                        <span class="tooltiptext" *ngIf="i == 1"
                            [style.visibility]="weekendSun && currentRow == i && item.priority == currentColumn ?'visible':'hidden'">It's
                            Sunday</span>
                        <span class="tooltiptext"
                            *ngIf="numberGreaterThan24 && currentRow == i && item.priority == currentColumn"
                            [ngClass]="numberGreaterThan24 ? 'tooltiptext1':'tooltiptext'">Number must be between 0 and
                            24</span>
                        <span class="tooltiptext"
                            *ngIf="!numberGreaterThan24 && hourGreaterThan24 &&  i == currentRow && item.priority == currentColumn"
                            [ngClass]="hourGreaterThan24 ? 'tooltiptext1':'tooltiptext'">Total hours for this day cannot
                            be
                            more than 24. Please re-enter.</span>
                        <span class="tooltiptext"
                            *ngIf="!numberGreaterThan24 && minGreaterThan24 &&  i == currentRow && item.priority == currentColumn"
                            [ngClass]="minGreaterThan24 ? 'tooltiptext2':'tooltiptext'">Total hours for this day cannot
                            be
                            more than 24. Please re-enter.
                        </span>
                        <span class="tooltiptext"
                            *ngIf="onVacation &&  i == currentRow && !hourGreaterThan24 && !minGreaterThan24 &&!numberGreaterThan24 && item.priority == currentColumn"
                            [ngClass]="!left ? 'tooltiptext2':'tooltiptext1'">Hours filled for vacation
                        </span>
                        <span class="tooltiptext"
                            *ngIf="halfDay &&  i == currentRow  && !hourGreaterThan24 && !minGreaterThan24 &&!numberGreaterThan24 && item.priority == currentColumn "
                            [ngClass]="!left ? 'tooltiptext2':'tooltiptext1'"> More than 5 hours filled for half day
                            vacation
                        </span>
                    <td>
                        <div class="time-container">
                            <span
                                [ngClass]="addingRowValue(item.work_hours) != '00 : 00' ? 'timepicker-total1':'timepicker-total'">
                                {{addingRowValue(item.work_hours)}}
                            </span>
                        </div>
                    </td>
                </tr>
            </ng-container>
            <tr class="table-row-2">
                <td>
                    <span class="select-btn" (click)="flag.buttonClicked = true;$event.stopPropagation()"
                        *ngIf="!closeSelect && isSaveAndSubmit">
                        <span class="circle">+</span>Select Project</span>
                    <div class="project-names" *ngIf="flag.buttonClicked" (click)="$event.stopPropagation()">
                        <ng-container *ngFor="let item of inActiveProjectsList;let i = index;"
                            (click)="$event.stopPropagation()">
                            <div class="proj1" (click)="test(i); flag.buttonClicked= false"
                                *ngIf="!item.visibilityFlag">
                                {{item.project_name}}
                            </div>
                        </ng-container>
                    </div>
                    Miscellaneous
                </td>
                <td *ngFor="let daydata of miscellaneous; let i = index;">
                    <div class="time-container">
                        <span class="timepicker"
                            [ngClass]="isSaveAndSubmit && daydata.enable ? 'timepicker':'timepicker-disabled'"
                            (click)="maketooltipshow(i,totalPriorityLength);"
                            [style.color]="daydata.h ==0 || daydata.m == 0? '#727272':'#161616'">
                            <input type="number" min=00 max=24 maxlength="24"
                                [disabled]="!daydata.enable || !isSaveAndSubmit" [(ngModel)]="daydata.h"
                                (ngModelChange)="isGreaterThan24('h',i,miscellaneous,totalPriorityLength);"
                                [ngModelOptions]="{updateOn: 'blur'}"
                                [style.color]="daydata.h == 0? '#727272':'#161616'">
                            :<select [disabled]="!daydata.enable || !isSaveAndSubmit" [(ngModel)]="daydata.m"
                                (change)="isGreaterThan24('m',i,miscellaneous,totalPriorityLength);"
                                [style.color]="daydata.m ==0 ? '#727272':'#161616'">
                                <option value="0">00</option>
                                <option value="15">15</option>
                                <option value="30">30</option>
                                <option value="45">45</option>
                            </select>
                        </span>
                    </div>
                    <span class="tooltiptext" *ngIf="i == 0"
                        [style.visibility]="weekendSat && currentRow == i && totalPriorityLength == currentColumn ?'visible':'hidden'">
                        It's Saturday
                    </span>
                    <span class="tooltiptext" *ngIf="i == 1"
                        [style.visibility]="weekendSun && currentRow == i && totalPriorityLength == currentColumn ?'visible':'hidden'">
                        It's Sunday
                    </span>
                    <span class="tooltiptext"
                        *ngIf="numberGreaterThan24 && currentRow == i && totalPriorityLength == currentColumn"
                        [ngClass]="numberGreaterThan24 ? 'tooltiptext1':'tooltiptext'">Number must be between 0 and
                        24</span>
                    <span class="tooltiptext"
                        *ngIf="!numberGreaterThan24 && hourGreaterThan24 &&  i == currentRow && totalPriorityLength == currentColumn"
                        [ngClass]="hourGreaterThan24 ? 'tooltiptext1':'tooltiptext'">Total hours for this day cannot be
                        more than 24. Please re-enter.</span>
                    <span class="tooltiptext"
                        *ngIf="!numberGreaterThan24 && minGreaterThan24 &&  i == currentRow && totalPriorityLength == currentColumn"
                        [ngClass]="minGreaterThan24 ? 'tooltiptext2':'tooltiptext'">Total hours for this day cannot be
                        more than 24. Please re-enter.</span>
                    <span class="tooltiptext"
                        *ngIf="onVacation &&  i == currentRow && !hourGreaterThan24 && !minGreaterThan24 &&!numberGreaterThan24 && totalPriorityLength == currentColumn"
                        [ngClass]="!left ? 'tooltiptext2':'tooltiptext1'">Hours filled for vacation
                    </span>
                    <span class="tooltiptext"
                        *ngIf="halfDay &&  i == currentRow  && !hourGreaterThan24 && !minGreaterThan24 &&!numberGreaterThan24 && totalPriorityLength== currentColumn "
                        [ngClass]="!left ? 'tooltiptext2':'tooltiptext1'"> More than 5 hours filled for half day
                        vacation
                    </span>

                </td>
                <td>
                    <div class="time-container">
                        <span
                            [ngClass]="addingRowValue(miscellaneous) != '00 : 00' ? 'timepicker-total1':'timepicker-total'">
                            {{addingRowValue(miscellaneous)}}
                        </span>
                    </div>
                </td>
            </tr>
            <tr class="table-row-3">
                <td>Holiday</td>
                <td *ngFor="let daydata of holidayData">
                    <div class="time-container">
                        <span class="timepicker" [ngClass]="daydata.enable ? 'timepicker':'timepicker-disabled'"
                            [style.color]="daydata.h !=0 || daydata.m != 0? '#dcd9d9':'#161616'">
                            <input type="number" min=00 max=01 [(ngModel)]=daydata.h [disabled]="!daydata.enable"
                                [style.color]="daydata.h !=0 || daydata.m != 0? '#dcd9d9':'#161616'">
                            :<select [disabled]="!daydata.enable" [(ngModel)]=daydata.m
                                [style.color]="daydata.h !=0 || daydata.m != 0? '#dcd9d9':'#161616'">
                                <option value=0>00</option>
                                <option value=15>15</option>
                                <option value=30>30</option>
                                <option value=45>45</option>
                            </select>
                        </span>
                    </div>
                </td>
                <td>
                    <div class="time-container">
                        <span
                            [ngClass]="addingRowValue(holidayData) != '00 : 00' ? 'timepicker-total1':'timepicker-total'">
                            {{addingRowValue(holidayData)}}
                        </span>
                    </div>
                </td>
            </tr>
            <tr class="table-row-4">
                <td>Vacation</td>
                <td *ngFor="let daydata of vacation">
                    <div class="time-container">
                        <span class="timepicker" [ngClass]="daydata.enable ? 'timepicker':'timepicker-disabled'"
                            [style.color]="daydata.h !=0 ? '#dcd9d9 !important':'#161616'">
                            <input type="number" min=00 max=01 [(ngModel)]=daydata.h [disabled]="!daydata.enable"
                                [style.color]="daydata.h !=0 ? '#dcd9d9 !important':'#161616'">
                            :<select [disabled]="!daydata.enable" [(ngModel)]="daydata.m"
                                [style.color]="daydata.h !=0 ? '#dcd9d9 !important':'#161616'">
                                <option value=0>00</option>
                                <option value=15>15</option>
                                <option value=30>30</option>
                                <option value=45>45</option>
                            </select>
                        </span>
                    </div>
                </td>
                <td>
                    <div class="time-container">
                        <span
                            [ngClass]="addingRowValue(vacation) != '00 : 00' ? 'timepicker-total1':'timepicker-total'">
                            {{addingRowValue(vacation)}}
                        </span>
                    </div>
                </td>
            </tr>
            <tr class="table-row-5">
                <td style="color: white; font-size: 14px;">Total Hours</td>
                <td *ngFor="let item of totalHoursColumn">
                    <div class="time-container">
                        <span class="timepicker-total1">
                            {{item.h |number:'2.'}} : {{item.m |number:'2.'}}
                        </span>
                    </div>
                </td>
            </tr>
            <tr class="table-row-6">
                <td>Net Working Hours<br>
                    (from Access Control)
                </td>
                <td *ngFor="let item of netWH">
                    <div class="time-container">
                        <span class="timepicker-total1">
                            {{item.h | number :'2.'}} : {{item.m|number:'2.'}}
                        </span>
                    </div>
                </td>
                <td>
                    <div class="time-container">
                        <span
                            [ngClass]="addingRowValue(netWH) != '00 : 00' ? 'timepicker-total1':'timepicker-total'">
                            {{addingRowValue(netWH)}}
                        </span>
                    </div>
                </td>
            </tr>
            <tr class="table-row-7">
                <td>Gross Working Hours<br>
                    (from Access Control)
                </td>
                <td *ngFor="let item of grossWH">
                    <div class="time-container">
                        <span class="timepicker-total1">
                            {{item.h | number :'2.'}} : {{item.m|number:'2.'}}
                        </span>
                    </div>
                </td>
                <td>
                    <div class="time-container">
                        <span
                            [ngClass]="addingRowValue(grossWH) != '00 : 00' ? 'timepicker-total1':'timepicker-total'">
                            {{addingRowValue(grossWH)}}
                        </span>
                    </div>
                </td>
            </tr>
        </table>
    </div>
    <div class="timesheet-top">
        <div class="timesheet-top-left">
            <h2>Weekly Status Report</h2>
        </div>
        <div class="timesheet-top-right">
            <p style="font-size: smaller; color: gray;"> {{totaltextAreaLength}} / 5000</p>
        </div>
    </div>
    <div class="timesheet-details">

        <div class="timesheet-textarea-container">
            <div class="active-projects">
                <ng-container *ngFor="let item of visiblityTrueTextArea">
                    <div class="project1">
                        <div class="head-text">{{item.project_name}}</div>
                        <div class="textarea-div">
                            <textarea placeholder="Add details of project" [(ngModel)]="item.work_report"
                                [disabled]="!isSaveAndSubmit" (ngModelChange)="calculateLength()"
                                [ngModelOptions]="{updateOn: 'change'}"></textarea>
                        </div>
                    </div>
                </ng-container>
                <ng-container *ngFor="let item of visiblityFalseTextArea">
                    <div class="project1" *ngIf="item.visibilityFlag == true">
                        <div class="head-text">{{item.project_name}}</div>
                        <div class="textarea-div">
                            <textarea placeholder="Add details of project" [disabled]="!isSaveAndSubmit"
                                [(ngModel)]="item.work_report!" (ngModelChange)="calculateLength()"
                                [ngModelOptions]="{updateOn: 'change'}"></textarea>
                        </div>
                    </div>
                </ng-container>
                <span class="select-btn-bottom" (click)="flag.buttonClicked1 = true;$event.stopPropagation()"
                    *ngIf="!closeDropDown && isSaveAndSubmit">
                    <span class="circle">+</span>Select Project</span>
                <div class="project-names-1" *ngIf="flag.buttonClicked1">
                    <ng-container *ngFor="let item of visiblityFalseTextArea; let i = index;">
                        <div class="proj1" (click)="test2(i);$event.stopPropagation();" *ngIf="!item.visibilityFlag">
                            {{item.project_name}}
                        </div>
                    </ng-container>
                </div>
            </div>
            <div class="general-project" *ngIf="generalTextAreaData">
                <div class="head-text1">General Project</div>
                <textarea placeholder="General details to include" class="txtarea1" [disabled]="!isSaveAndSubmit"
                    [(ngModel)]="generalTextAreaData.work_report" (ngModelChange)="calculateLength()"
                    [ngModelOptions]="{updateOn: 'change'}"></textarea>
            </div>
        </div>
        <div class="submit-btns">

            <button type="submit" class="submit-save" [disabled]="!saveAndSubmitButtonEnable" *ngIf="isSaveAndSubmit"
                (click)="finalSaveData();">Save & Submit</button>
            <button type="submit" class="submit-only" *ngIf="isSaveAndSubmit" (click)="saveData();">Save</button>
        </div>
    </div>
</div>