.dashboard{
    display: grid;
    grid-template-areas: 
    "sidebar header"
    "sidebar main"
    "sidebar footer";
    grid-template-columns: var(--sidebarWidth) calc(100vw - var(--sidebarWidth)) ;
    grid-template-rows: var(--headerHeight) auto var(--footerHeight);
    overflow: hidden;
    max-height: 100vh;
    overflow-y: auto;
}

app-header{
    grid-area: header;
    background-color: #111111;
    /* width: calc(100vw -  var(--sidebar-width)) ; */
}

app-sidebar{
    grid-area: sidebar;
    overflow: auto;
    position: fixed;    
    background-color: #161616;
    height: 100%;
    width: var(--sidebarWidth);
}

main{
    position: relative;
    grid-area: main;
    background-color: black;
    color: white;
    min-height: calc(100vh -  var(--footerHeight) - var(--headerHeight)) ;
}

app-loader{
    position: fixed;
    z-index: 10000;
    top: 45vh;
    left: 50vw;
    bottom: 0;
    right: 0;
}

app-footer{
    grid-area: footer;
    background-color: #161616;
    height: var(--footerHeight);
}
