.dashboard{
    display: grid;
    grid-template-areas: 
    "sidebar header"
    "sidebar main"
    "sidebar footer";
    grid-template-columns: var(--sidebarWidth) calc(100vw - var(--sidebarWidth));
    grid-template-rows: var(--headerHeight) auto var(--footerHeight);
    overflow: hidden;
    max-height: 100vh;
    overflow-y: auto;
}

app-header{
    grid-area: header;
    background-color: #111111;
    /* width: calc(100vw -  var(--sidebar-width)) ; */
}

app-sidebar{
    grid-area: sidebar;
    overflow: auto;
    position: fixed;    
    background-color: #161616;
    height: 100%;
    width: var(--sidebarWidth);
}

main{
    position: relative;
    grid-area: main;
    background-color: black;
    color: white;
    min-height: calc(100vh -  var(--footerHeight) - var(--headerHeight)) ;
}

app-loader{
    position: fixed;
    z-index: 10000;
    top: 45vh;
    left: 50vw;
    bottom: 0;
    right: 0;
}

app-footer{
    grid-area: footer;
    background-color: #161616;
    height: var(--footerHeight);
}

.hide-button{
    background: #292929;
    height: 2.5rem;
    width: 2.5rem;
    border-radius: 10rem;
    outline: none;
    border: none;
    position: fixed;
    top: 17%;
    border: .1px solid gray;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #808080;
    cursor: pointer;
}