<div class="sidebar">
    <div class="sidebar-head">
        <div class="profile-photo">
            <img src="/assets/Men!.png" width="100px" height="100px" class="dp" *ngIf="empGender == 'Male'">
            <img src="/assets/Women!.png" width="100px" height="100px" class="dp" *ngIf="empGender == 'Female'">
        </div>
        <div class="profile-name">
            Hi, {{username}}
        </div>
    </div>
    <div class="sidebar-bottom">
        <div>
            <div class="main-buttons">
                <p class="left-border"></p>
                Timesheet
            </div>
            <ul>
                <li>
                    <div class="sub-buttons" routerLink="entry" routerLinkActive="active">
                        Entry
                    </div>
                </li>
                <li>

                    <div class="sub-buttons" routerLink="rejected-timesheet" routerLinkActive="active">
                        Rejected Timesheet
                    </div>
                </li>
                <li>

                    <div class="sub-buttons" routerLink="report" routerLinkActive="active">
                        Report
                    </div>
                </li>
            </ul>
        </div>
        <div class="main-buttons" routerLink="attendance" routerLinkActive="active">
            <p class="left-border"></p>
            Attendance
        </div>
        <div class="main-buttons" routerLink="holidays" routerLinkActive="active">
            <p class="left-border"></p>
            Holidays
        </div>
        <div>
            <div class="main-buttons">
                <p class="left-border"></p>
                Leave Management
            </div>
            <ul>
                <li>
                    <div class="sub-buttons" routerLink="leave" routerLinkActive="active">
                        Apply Leave
                    </div>
                </li>
            </ul>
        </div>
        <div>
            <div class="main-buttons">
                <p class="left-border"></p>
                Document Management
            </div>
            <ul>
                <li>
                    <div class="sub-buttons" routerLink="policy" routerLinkActive="active">
                        Policy
                    </div>
                </li>
            </ul>
        </div>
    </div>
</div>