<div class="sidebar">
    <div class="sidebar-head">
        <div class="profile-photo">

        </div>
        <div class="profile-name">
            Hi, {{username}}
        </div>
    </div>
    <div class="sidebar-bottom">
        <div>
            <div class="main-buttons">
                Timesheet
            </div>
            <ul>
                <li>
                    <div class="sub-buttons">
                        Entry
                    </div>
                </li>
                <li>

                    <div class="sub-buttons">
                        Rejected Timesheet
                    </div>
                </li>
                <li>

                    <div class="sub-buttons">
                        Report
                    </div>
                </li>
            </ul>
        </div>
        <div class="main-buttons">
            Attendance
        </div>
        <div class="main-buttons">
            Holidays
        </div>
        <div>
            <div class="main-buttons">
                Leave Management
            </div>
            <ul>
                <li>
                    <div class="sub-buttons">
                        Apply Leave
                    </div>
                </li>
            </ul>
        </div>
        <div>
            <div class="main-buttons">
                Document Management
            </div>
            <ul>
                <li>
                    <div class="sub-buttons">
                        Policy
                    </div>
                </li>
            </ul>
        </div>
    </div>
</div>