
<ng-container *ngTemplateOutlet="basicTemplate;context:{title:title ,attendance:attendance}">
</ng-container>

<ng-template #basicTemplate let-title="title">
    <div class="attendance">
        <div class="attendance-top">
            <div class="attendance-top-left">
                <h2>{{title}}</h2>
            </div>
            <div class="attendance-top-right">
                <div class="input">
                    <mat-form-field>
                        <mat-label>Search</mat-label>
                        <mat-select [(value)]="selectedvalue" [(ngModel)]="selectedvalue">
                            <mat-option *ngIf="reporters.length == 0" [value]="empName">{{empName}}</mat-option>
                            <mat-option *ngFor="let item of reporters" [value]="item.emp_name">{{item.emp_name}}</mat-option>
                        </mat-select>
                      </mat-form-field>
                </div>
                <div class="input">    
                    <div class="input-head" id="datehead">
                        Date Range
                    </div>        
                    <mat-form-field>
                    <mat-date-range-input [formGroup]="daterange" [rangePicker]="picker">
                      <input matStartDate formControlName="start" placeholder="Start date">
                      <input matEndDate formControlName="end" placeholder="End date" (dateInput)=getAttendanceByDate();>
                    </mat-date-range-input>
                    <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
                    <mat-date-range-picker #picker></mat-date-range-picker>
                
                  </mat-form-field>
                  </div>
                <div>
                    <img src="/assets/excel.svg" class="download-image" (click)="downloadAttendance();">
                </div>
            </div>
        </div>
        <div class="attendance-table">
            <table class="attendance-table"  #myTestDiv>
                    <thead class="table-head">
                        <th>Date</th>
                        <th>First In Time</th>
                        <th>Last Out Time</th>
                        <th>Gross Working Hours</th>
                        <th>Net Working Hours</th>
                        <th>Timesheet Submitted Hours</th>
                    </thead>
                    <div class="gap"></div>
                    <tr *ngFor="let item of attendance">
                        <td>{{item.Date}}</td>
                        <td>{{item.FirstInTime}}</td>
                        <td>{{item.LastOutTime}}</td>
                        <td>{{item.GrossWorkingHours}}</td>
                        <td>{{item.NetWorkingHours}}</td>
                        <td>{{item.timesheet_total_working_hours}}</td>
                    </tr>
            </table>
        </div>
    </div>
</ng-template>