body{
    margin: 0;
}

:root{
    --sidebarWidth:13.9vw;
    --headerHeight:6rem;
    --footerHeight:2rem;
}


html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
